@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bull Market Analysis</h1>
    <p class="lead">Bull Market Analysis is the premier site to monitor your portfolio and track securities of interest.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Simply register for free, add your stocks, and expand your potential!
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Philosophy</h2>
        <p>We belive in providing the latest data about your portfolio while protecting your information.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <p>We are always willing to provide any other information you desire.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>