@using WebMatrix.Data;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.Owin.Security;
@using Owin;
@{
    var db = Database.Open("StocksDBContext");
    var selectQueryString = "SELECT Symbol, PricePaid, SharesPurchase FROM portfolio WHERE UserId = '" + User.Identity.GetUserId() + "' ORDER BY Symbol"; 
    var results = db.Query(selectQueryString);
    var jaysahn = Json.Encode(results);
    ViewBag.Title = "Manage Your Account";
}
<h2>@ViewBag.Title.</h2>
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#portfolio" role="tab" data-toggle="tab">Portfolio</a></li>
    <li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
    <li><a href="#preferences" role="tab" data-toggle="tab">Preferences</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="portfolio">
        <!----------------------Stock Looup------------------------------>
        <div class="stock-lookup">
            <p>
                <input id="lookupSymbol" type="text" /><button class="button_secondary" onclick="javascript: lookupStock()">lookup</button>
            </p>
            <div id="quoteResults" class="lookup-quote-results" style="display:none;"></div>
        </div>
        <!----------------------Current Stocks Owned -------------------->
        <div class="panel panel-default panel-success">
            <div class="panel-heading">
                Stocks Currently Owned:
            </div>

            <div class="panel-body">
                <table class="table table-striped table-hover ">
                        <headertemplate>
                            <!-----------------------Table Headings----------------------------->
                            <thead>
                                <tr>
                                    <th>Name:</th>
                                    <th>Symbol:</th>
                                    <th>Day's Change</th>
                                    <th>Volume</th>
                                    <th>Number of Shares:</th>
                                    <th>Purchase Value:</th>
                                    <th>Current Value:</th>
                                    <th>Gain/Loss:</th>
                                </tr>
                            </thead>
                        </headertemplate>
                    <tbody id="portfolio_table_body">
                        <tr>
                            <td colspan="8">No stocks to display</td>
                        </tr>
                    </tbody>
                </table>
            </div> <!--End of panel body-->
        </div> <!--End of panel-->

        <!----------------------Previously Stocks Owned/Sold/Removed -------------------->
        <div class="panel panel-default panel-danger">
            <div class="panel-heading">
                Stocks Previously Owned:
            </div>

            <div class="panel-body">
                <table class="table table-striped table-hover ">
                        <headertemplate>
                            <!-----------------------Table Headings----------------------------->
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name:</th>
                                    <th>Symbol:</th>
                                    <th>Value at Sale:</th>
                                    <th># of Shares:</th>
                                    <th>Current Value:</th>
                                    <th>Change Since Sale:</th>
                                    <th>Change Since Yesterday:</th>
                                    <th>More Information:</th>
                                </tr>
                            </thead>
                        </headertemplate>
                </table>
            </div> <!--End of panel body-->
        </div> <!--End of panel-->
    </div> <!--End of portfolio tab-->


    <div class="tab-pane" id="profile">...</div><!--End of profile tab-->
    
    
    
    
    <div class="tab-pane" id="preferences">...</div><!--End of preferences tab-->




</div> <!--End of all tabs-->
<script type="text/javascript">
    var portfolioItems = eval(@Html.Raw(jaysahn));
    var portfolioSymbols = new Array();
    for (var i = 0; i < portfolioItems.length; i++) {
        portfolioSymbols[i] = portfolioItems[i].Symbol;
    }
    refreshPortfolio(portfolioSymbols);
</script>
