@{
    ViewBag.Title = "Manage Your Account";
}
<h2>@ViewBag.Title.</h2>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#portfolio" role="tab" data-toggle="tab">Portfolio</a></li>
    <li><a href="#profile" role="tab" data-toggle="tab">Profile</a></li>
    <li><a href="#preferences" role="tab" data-toggle="tab">Preferences</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="portfolio">


    </div>

    <div class="tab-pane" id="profile">
        <!-- 
                a) Display current profile information
                b) Update profile data via button/Javascript form
                c) Example data: 
                    - First Name
                    - Last Name
                    - Phone Number (text notifications)
                    - Age
                    - Risk Tolerance
                    - Preferred securities (e.g., mutual funds, ETFs, bonds)
                    - Experience level
                    - Industry preference
        -->
        
    </div>

    <div class="tab-pane" id="preferences">
        <!-- 
                a) Setting preferences
                b) Stock notification registration
                    - Text
                    - Email
                c) Connect to Social Media            
            
        -->

    </div>
</div>

@Scripts.Render("~/bundles/AccountTabs")
