body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.stock-lookup {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #e47b36;
}

.lookup-quote-results {
    padding: 20px;
    background-color: #fff;
}

.quote-result-table {
    border-collapse: collapse;
    border-color: white;
}
.quote-result-label {
    font-weight: bold;
}

.quote-results-options-div {
    vertical-align: top;
}

.quote-result-cell {
    padding-left: 20px;
    padding-right: 20px;
}

.button_primary {
    padding-left: 4pt;
    padding-right: 4pt;
    margin-left: 10px;
    background-color: #110e40;
    color: #fff;
    font-size: 14pt;
    font-weight: bold;
    border:1pt solid #0f0189;
    border-radius: 3px 4px;
}

.button_secondary {
    padding-left: 4pt;
    padding-right: 4pt;
    margin-left: 10px;
    background-color: #fff;
    color: #6c6565;
    font-size: 14pt;
    font-weight: bold;
    border:1pt solid #333131;
    border-radius: 3px 4px;
}

.form_instrux_text {
    color: #333131;
    float: left;
    min-width: 200px;
    margin-left:10px;
    font-weight: bold; 
    font-size: 14pt;
}
